.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  .category {
    border: 1px solid darkblue;
    background: linear-gradient(to top, #c314312c, #240b36);
    margin-right: 5px;
    width: 18%;
  }
  .review {
    width: 80%;
    .review-directory {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
